.mat-mdc-header-cell {
  background-color: #f6f3ed !important;
  color: #090c12
}
.mat-mdc-cell {
  background-color: #f6f3ed !important;
  color: #090c12
}

.mat-mdc-card {
  background-color: #f6f3ed !important;
  color: #090c12
}
