<mat-card class="m-3">
    <mat-card-header>
        <mat-card-title>{{project?.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content class="d-flex">
      <p class="flex-fill">{{project?.ongoing ? 'Work In Progress' : project?.desc}}</p>
      <img class="hide-on-phone" mat-card-image width="20%" matCardImage [src]="project?.img">
    </mat-card-content>
    <mat-card-actions *ngIf="!!project?.redirection" align="end">
        <a [href]="project?.redirection" target="_blank">
          <button mat-button>Latest release</button>
        </a>
    </mat-card-actions>
    <mat-card-footer class="hide-on-phone" *ngIf="project?.latestRelease || project?.dismissed">
      {{!project?.dismissed ? project?.latestRelease : 'This project has been dismissed'}}
    </mat-card-footer>
</mat-card>
