<div mat-card class="page">
  <p style="display: flex;margin: 5px">
    <img src="../../assets/me 3.jpeg" width="35%"/>
    <span style="margin: 5px">{{description}}</span>
  </p>

  <app-events title="Esperienze lavorative" [dataSource]="expLavoro" [displayedColumns]="['inizio', 'fine', 'descrizione']"></app-events>

  <app-events title="Educazione e Titoli di studio" [dataSource]="titoliStudio" [displayedColumns]="['conseguito', 'descrizione']"></app-events>

  <mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>Patente di guida B</mat-card-title>
    </mat-card-header>
    <mat-card-footer>
        Conseguita nel 2017
    </mat-card-footer>
  </mat-card>

  <div style="height: 20px;"></div>

</div>
