@media screen and (min-width: 768px) {
  .page {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}
.mat-mdc-header-cell {
  background-color: #f6f3ed !important;
  color: #090c12
}
.mat-mdc-cell {
  background-color: #f6f3ed !important;
  color: #090c12
}

.mat-mdc-card {
  background-color: #f6f3ed !important;
  color: #090c12
}
